body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Custom styling for the progress bar */
.iziToast-progressbar {
    background: #007BFF; /* Progress bar color */
}